[submodule "Arduino-Makefile"]
	path = libs/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "libs/LEDController"]
	path = libs/LEDController
	url = https://github.com/GrimKriegor/LEDController.git
